<ul id="sidebar-footer" class="collapse nav nav-pills nav-stacked" data-hook="admin_footer_sub_tabs">
  <%= tab Spree::Footer, url: spree.admin_footers_url, label: plural_resource_name(Spree::Footer) %>
  <%= tab Spree::Bottom, url: spree.admin_bottoms_url, label: plural_resource_name(Spree::Bottom) %>
  
</ul>
