<div class="container-fluid hidden-sm hidden-xs">
    <div class="row">
      <div class="col-sm-12" style="background-color:blue;">
      	<div class="col-sm-4" style="color:#fff;">
        <p>
           <%= bottom.leftCol %>     
        </p>
    </div>
    <div class="col-sm-4" style="color:#fff;">
        <p>
           <%= bottom.middleCol %>     
        </p>
    </div>
    <div class="col-sm-4" style="color:#fff;">
        <p>
           <%= bottom.rightCol %>     
        </p>
    </div>
      </div>
    </div>
</div>