<div class="container-fluid hidden-sm hidden-xs">
    <div class="row">
      <div class="col-sm-12" style="background-color:#040210;color:#fff;text-align: center;">
        <p>
           <%= footer.content %>     
        </p>
      </div>
    </div>
</div>