<% if @topbar.any? %>
  <table class="table" id="listing_pages" data-hook>
    <colgroup>
      <col style="width: 65%">
      <col style="width: 10%">
      <col style="width: 10%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="admin_pages_index_headers">
        
        <th data-hook="admin_pages_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @topbar.each do |m| %>
        <tr data-hook="admin_pages_index_rows" class="<%= cycle('odd', 'even') %>" id="<%= dom_id m %>">
          <td><%= m.message %></td>
          <td><%= m.color %></td>
          <td><%= m.background_color %></td>
          <td class="actions text-right" data-hook="admin_pages_index_row_actions">
            <%= link_to_edit m, no_text: true %>            
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::Topbar.model_name.human) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_topbar_path %>!
  </div>
<% end %>
