<h1>ADD COPYRIGHT CONTENT</h1>

<%= form_for [:admin, @content] do |f| %>
  <div class="row" data-hook="admin_page_form_fields">
    <div class="col-md-6" data-hook="admin_page_form_left">
      <div class="form-group">
        <%= f.label :content %> <span class=""></span>
        <%= f.text_field :content, class: 'form-control' %>
        <%= f.error_message_on :content %>
      </div>

     <!--  -->
      <div class="actions">
        <%= f.submit "Submit" %>
      </div>
    </div>
  </div>
  
<% end %>