<% if can? :admin, Spree::Footer %>
  <ul class="nav nav-sidebar">
    <!-- <%= tab Spree::Footer, url: spree.admin_footers_url, icon: 'th-large', label: plural_resource_name(Spree::Footer) %> -->

     <%= main_menu_tree Spree::Footer, icon: "th-large", sub_menu: "footer", url: "#sidebar-footer" %>
  </ul>
<% end %>