<% @body_id = 'home-page' %>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>
<%= render partial: 'spree/show/bottom' , collection: Spree::Bottom.all, as: :bottom %> 
<%= render partial: 'spree/show/copyright' , collection: Spree::Footer.all, as: :footer %> 

