<h1>ADD FOOTER CONTENT</h1>

<%= form_for [:admin, @bottom] do |f| %>
  <div class="row" data-hook="admin_page_form_fields">
    <div class="col-md-6" data-hook="admin_page_form_left">
      <div class="form-group">
        <%= f.label :leftCol %> <span class=""></span>
        <%= f.text_area :leftCol, class: 'form-control' %>
        <%= f.error_message_on :leftCol %>
      </div>

      <div class="form-group">
        <%= f.label :middleCol %> <span class=""></span>
        <%= f.text_area :middleCol, class: 'form-control' %>
        <%= f.error_message_on :middleCol %>
      </div>

      <div class="form-group">
        <%= f.label :rightCol %> <span class=""></span>
        <%= f.text_area :rightCol, class: 'form-control' %>
        <%= f.error_message_on :rightCol %>
      </div>

     <!--  -->
      <div class="actions">
        <%= f.submit "Add Footer Content" %>
      </div>
    </div>
  </div>
  
<% end %>
